.footer {
  height: 9.6rem;
  background-color: var(--accent-bg);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 9.6rem;
}

.footer a:last-child {
  justify-self: end;
}

.footer p {
  font-size: 2.4rem;
  font-weight: 500;
  justify-self: center;
}

@media (max-width: 600px) {
  .footer {
    padding: 0 3.2rem;
  }
}
