.header {
  height: 9.6rem;
  background-color: var(--accent-bg);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 9.6rem;
}

.header a {
  display: inline-block;
}

.theme {
  margin-left: auto;
  margin-right: 0;
}

.btnTheme {
  background-color: var(--accent-bg);
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 0.5rem;
  border-radius: 50%;
}

.logoTheme {
  height: 4rem;
  color: var(--black);
}

.logoTheme:hover {
  color: var(--white);
}
