header {
  height: 9.6rem;
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 9.6rem;
}

header a {
  display: inline-block;
}

.theme {
  margin-left: auto;
  margin-right: 0;
}

.btn-theme {
  background-color: #fdf2e9;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 0.5rem;
  border-radius: 50%;
}

.logo-theme {
  height: 4rem;
  color: #000;
}

.logo-theme:hover {
  color: #fff;
}
