:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #fff;
  --bg-card: #fff;
  --bg-placeholder: #fff;
  --bg-form: #f1f3f5;
  --text: #213547;
  --white: #fff;
  --black: #000;

  --accent: #e67e22;
  --accent-bg: #fdf2e9;
  --accent-hover: #cf711f;
  --accent-hover-logo: #646cffaa;

  --gray: #999;
  --gray-title: #333;
  --gray-placeholder: #aaa;
  --shadow-focus: 230, 125, 34;
  --shadow-link: 0, 0, 0;
  --shadow-link-hover: 182, 53, 53;
}

[data-theme='dark'] {
  --bg: #0f172a;
  --bg-card: #1e293b;
  --text: #94a3b8;
  --accent: #262626;
  --accent-bg: #374151;
  --accent-hover: #171717;
  --bg-placeholder: #1e293b;
}

[data-theme='light'] {
  --bg: #fff;
  --bg-card: #fff;
  --text: #213547;
  --accent: #e67e22;
  --accent-bg: #fdf2e9;
  --accent-hover: #cf711f;
  --bg-placeholder: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(var(--shadow-focus), 0.5);
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  height: 100vh;
  color: var(--text);
  background-color: var(--bg);
}

main {
  min-height: calc(100vh - 9.6rem * 2);
  padding: 6.4rem 0;
  position: relative;
}

a {
  font-weight: 500;
  width: auto;
  text-decoration: inherit;
  line-height: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
